body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: black;
	font-family: Arial;
	flex-direction: column;
    width: 100vw;
    margin: 0;
	
}
.container{
	
    display: flex;
    width: 100vw;
    height: 150px;
    position: relative;
    border: 2px solid white;

}
.cuadrado{
	width: 50px;
    height: 50px;
    position: relative;
    
	
}
.cuadrado.a{
 border-radius: 50%;
 background-color: lightgray;
 animation-name: arriba, abajo;
 animation-duration: 2s, 400ms;
 animation-timing-function: linear;
 animation-iteration-count: infinite;
 animation-direction: alternate;
}
@keyframes arriba {
    0%{
        left:0
    }
    100%{
        left: calc(100% - 50px)
    }
}
@keyframes abajo {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(100px) scale(1, 0.8);
    }
}


